@model EvaParcial.Models.Clientes

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a class="btn btn-primary" data-target="#Reporte" onclick="listaClientes()"
   data-toggle="modal">Imprimir Reporte</a>

<div class="modal fade" id="Reporte" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Lista de clientes
                </h4>
            </div>
            <div class="modal-body" id="Imprimir_Clientes">
                <table class="table">
                    <thead>
                        <tr>
                            
                            <th>
                                Nombre
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Ruc
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="Cuerpo_Cliente"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
                <button id="graba" type="button" class="btn btn-primary"
                        onclick="quitar_Botones(); Imprimir_Cliente()">
                    Emprimir
                </button>
            </div>
        </div>
    </div>
</div>