@model IEnumerable<EvaParcial.Models.Distribuidores>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h2>Lista de Distribuidores</h2>

<p>
    <a class="btn btn-primary" data-toggle="modal" data-target="#Ingreso_Distribuidor">Nuevo Distribuidor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Direccion
            </th>
            <th>
                listaReseptor
            </th>
        </tr>
    </thead>
    <tbody id="Cuerpo_Distribuidor"></tbody>
</table>

<div class="modal fade" id="Ingreso_Distribuidor" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Ingreso de Distribuidores
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="idDistribuidor" id="idDistribuidor" />
                    <div class="form-group">
                        <label class="control-label">Nombres</label>
                        <input id="Nombres" name="Nombres" class="form-control"
                               type="text" placeholder="Ingrese la Nombres del cliente" />
                        <span class="label-danger hidden">Campo Obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Direccion</label>
                        <input id="Direccion" name="Direccion" class="form-control"
                               type="text" placeholder="Ingrese la direccion del cliente" />
                        <span id="control_Nombre" class="label-danger hidden">La direccion es requerida</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Reseptor</label>
                        <input id="listaReseptor" name="listaReseptor" class="form-control"
                               type="text" placeholder="Ingrese el Telefono del cliente" />
                        <span id="control_Direccion" class="label-danger hidden">El Reseptor es requerido</span>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
                <button id="graba" type="button" class="btn btn-primary" onclick="nuevo_Distribuidor()">Guardar</button>
            </div>
        </div>
    </div>
